:root{
    /* Rullens logo color _0, all above are shades above till almost black*/
    --shade_0: #008ACE; 
    --shade_2: #0079B5;
    --shade_3: #006A9F;
    --shade_4: #005B88;
    --shade_5: #004C71;
    --shade_6: #003C5B;
    --shade_7: #002D44;
    --shade_8: #001E2D;
}

nav{
    margin: 0px;

    border: 0px;
    border-radius: 0;

    padding: 0px;
    
    height: auto;
    width: 100%;
 
    background-color: var(--shade_7); 
}

.nav_logo{
    margin: 0rem;
    padding: .3rem;
}

.nav_logo img {
    height: 3rem;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none; /*remove dots from list elements */
}


nav ul li{
    display: flex;
    align-items: center;
    text-align: center;

    margin: .5rem;
    border-radius: .3rem;
    padding: .3rem 2rem;

    height: auto;
    width: auto;

    color: var(--shade_0);
    text-decoration: none;
}



nav ul li:hover{
    color: var(--shade_4);
    text-decoration: underline;
    cursor: pointer;
}

